body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 0;
}

h1:hover {
  color: gray;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
div,
p {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #eeeeee;
  margin-bottom: 32px;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}
.chart-container {
  max-width: 100%;
  width: 80%;
  aspect-ratio: 22 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-name {
  margin-bottom: 24px;
}
.not-found-wrap {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f8f9fa;
  border: 2px solid #bcbcbc;
  border-radius: 8px;
  padding: 48px 24px;
}

.not-found-txt {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 24px;
}
.pointer {
  cursor: pointer;
}

/* change angular material mat-select style  */
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  width: 100px;
  background: #ffffff;
}

/* .negative, .positive, .normal are color style for showing the price status*/
.negative {
  color: #f00000;
}

.positive {
  color: #48c786;
}

.normal {
  color: #000000;
}
